#home {
  color: #fff;
  font-size: 20px;
  text-align: center;
  user-select: none;
}

#home h1 {
  padding-bottom: 20px;
}

#home button {
  outline: none;

  color: #fff;
  background-color: #000;
  border: 1px solid #fff;

  width: 200px;
  margin: 0 10%;
  margin-bottom: 20px;
  padding: 10px;

  cursor: pointer;
}

#home button:hover {
  color: #000;
  background-color: #fff;
}

#home button::-moz-focus-inner {
  border: 0;
}
